.vidget-page_faq {
    .vidget-page {
        &__wrapper {
            padding: 27px 0 0;
        }
        &__head {
            padding: 0 15px;
            margin-bottom: 20px;
        }
    }
}
.faq {
    &__arrow {
        transition: 0.3s;
        img {
            transform: rotate(-90deg);
        }
    }
    &__block {
        opacity: 0.6;
        cursor: pointer;
        border-bottom: 0.5px solid #474873;
        &-list {
            padding: 18px 15px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &.active {
            opacity: 1;
            .faq {
                &__arrow {
                    img {
                        transform: rotate(0);
                    }
                }
                &__hidden {
                    padding: 13px 15px;
                    display: block;
                }
                &__block-list {
                    background-color: #474873;
                }
            }
        }
    }
    &__name {
        font-size: 14px;
    }
    &__hidden {
        display: none;
        font-size: 12px;
    }
}