.home {
    &__wrapper {
        margin-top: 36px;
    }
    &-block {
        transition: all 1s;
        padding-right: 40px;
        padding-left: 9px;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__title {
            display: flex;
            align-items: center;
            width: 40%;
        }
        &__icon, &__name-edit {
            cursor: pointer;
            .popover {
                white-space: nowrap;
                justify-content: center;
                top: -12px;
                left: 50%;
                transform: translate(-50%, -100%);
                &::before {
                    top: auto;
                    bottom: 0;
                    transform: translate(50%, 100%);
                    right: 50%;
                    position: absolute;
                    content: '';
                    border: 5px solid transparent;
                    border-top: 7px solid #21203d;
                }
            }
        }
        &__name {
            display: flex;
            align-items: center;
            flex: 1;
            &:hover {
                .home-block__name-edit {
                    display: flex;
                }
            }
            &-edit {
                display: none;
                margin-left: 10px;
            }
            &-icon {
                color: #a2a2ad;
            }
        }
        &__events {
            display: flex;
            align-items: center;
            button {
                background-color: transparent;
                border: none;
            }
        }
        &__switch, &__user, &__edit, &__look, &__delete, &__icon, &__name-edit {
            margin-right: 18px;
            position: relative;
            &:hover {
                .popover {
                    display: flex;
                }
            }
        }
        &__user, &__edit, &__look, &__delete {
            .popover {
               right: 25px;
            }
        }
        &__user {
            margin-right: 26px;
        }
        &__edit {
            margin-right: 21px;
        }
        &__look {
            margin-right: 22px;
            .popover {
                min-width: 145px;
            }
        }
        &__delete {
            margin-right: 0;
            .popover {
                min-width: 145px;
            }
        }
    }
}
.popover {
    min-width: 178px;
    pointer-events: none;
    position: absolute;
    right: 50px;
    left: auto;
    display: none;
    box-shadow: 0 2px 5px rgba(10, 10, 10, 0.4);
    border-radius: 2px;
    background-color: #21203d;
    padding: 13px 18px;
    font-size: 13px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    &__wrapper {
        position: relative;
        span {
            display: block;
            color: white;
            font-family: 'RobotoRegular';
            line-height: 18px;
        }
    }
    &::before {
        top: 50%;
        transform: translateY(-50%);
        right: -12px;
        position: absolute;
        content: '';
        border: 5px solid transparent;
        border-left: 7px solid #21203d;
    }
  &_setup {
    width: auto !important;
  }
}
