.widgets {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 13px;
    background: none;
  }
  &__left {
    width: 61.8%;
    // width: 63%;
    height: max-content;
    height: fit-content;
    background-color: #363757;
    padding: 29px 14px 0 13px;
    &.feedback {
      min-height: 525px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .widgets__content {
        flex-grow: 1;
      }
    }
  }
  &__right {
    padding: 15px;
    width: 36.8%;
    max-height: 1700px;
    overflow: auto;
    padding: 9px 5px 10px 18px;
    height: max-content;
    background-color: #363757;
    padding: 31px 23px 10px 14px;
    .form {
      h4 {
        margin: 0;
      }
      &__items {
        .item {
          margin-bottom: 26px;
          &__img {
            &-wrapper {
              position: relative;
              .popover {
                right: initial;
                left: 0px;
                top: -37px;
                min-width: 143px;
              }
              &:hover {
                .popover {
                  display: flex;
                  &:before {
                    top: initial;
                    transform: initial;
                    right: initial;
                    left: 0;
                    position: absolute;
                    content: "";
                    border: 5px solid transparent;
                    border-top: 7px solid #21203d;
                    bottom: -12px;
                  }
                }
              }
            }
          }
          &__title {
            display: flex;
            align-items: center;
            margin-bottom: 9px;
            span {
              margin-right: 10px;
            }
          }
          &__double {
            display: flex;
            justify-content: space-between;
            .form-group {
              width: 45%;
            }
            &_radio {
              margin-top: 16px;
              padding-right: 43px;
            }
          }
          .form-group {
            height: 34px;
            &_textarea {
              height: 100%;
              span {
                font-size: 12px;
                font-family: "RobotoLight";
                color: #a2a2ad;
              }
            }
            textarea {
              height: 81px;
              color: #a2a2ad;
              width: 100%;
              resize: none;
              &::placeholder {
                font-family: "RobotoLight";
                font-size: 13px;
              }
            }
            .v-select {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              border: 1px solid #8e8fbb;
              background-color: #2f304d;
              outline: none;
            }
            .vs--disabled .vs__clear,
            .vs--disabled .vs__dropdown-toggle,
            .vs--disabled .vs__open-indicator,
            .vs--disabled .vs__search,
            .vs--disabled .vs__selected {
              cursor: not-allowed;
              background-color: initial;
            }
            .vs__open-indicator,
            .vs__clear {
              fill: #a2a2ad;
            }
            .vs__dropdown-menu {
              border: 1px solid #8e8fbb;
              background-color: #2f304d;
              border-top: none;
              min-width: calc(100% + 2px);
              top: calc(100% - 3px);
              left: -1px;
              .vs__dropdown-option {
                padding-left: 9px;
                color: #a2a2ad;
                &.vs__dropdown-option--selected,
                &:hover {
                  color: #fff;
                  background: rgba(71, 72, 115, 0.5);
                }
              }
            }
            .vs__dropdown-toggle {
              padding: 0;
              height: 100%;
            }
            .vs__selected {
              color: #a2a2ad;
              margin-top: 0;
              height: 100%;
            }
            .vs__search {
              margin: 0;
              height: 100%;
            }
          }
        }
      }
      p {
        margin-top: 25px;
        margin-bottom: 18px;
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
    h4 {
      margin: 0;
    }
    &-title {
      display: flex;
      align-items: center;
      h4,
      a {
        font-size: 13px;
        color: #8e8fbb;
      }
    }
  }
  &__content {
    padding: 5px 17px;
    padding-bottom: 0;
    width: 100%;
    &-personal,
    &-places {
      display: flex;
      align-items: flex-start;
      padding: 0 15px;
    }
    &-places {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 11px;
      padding-top: 19px;
      border-top: 1px solid #8e8fbb;
      position: relative;
      &:first-child {
        border: none;
        padding-top: 0;
      }
      &:hover {
        .item__menu {
          display: flex;
          right: 14px;
        }
      }
    }
    &-avatar {
      min-width: 50px;
      max-width: 50px;
      min-height: 50px;
      max-height: 50px;
      background-color: #474873;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      overflow: hidden;
      cursor: pointer;
      &_client {
        background-color: initial;
      }
      .item__popover {
        position: absolute !important;
        left: 8px;
        bottom: 65px;
      }
      &_groups {
        .item__popover {
          bottom: 31px;
        }
      }
    }
    &-text {
      padding: 0 27px;
      text-align: center;
      margin-bottom: 31px;
      p,
      .mess-text {
        font-size: 18px;
        font-family: "RobotoMedium";
        color: #fff;
      }
      &_messages {
        display: flex;
        flex-direction: column;
        .item__popover {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        a {
          color: #a2a2ad;
          font-family: "RobotoLight";
          &.mt {
            margin-top: 23px;
          }
        }
      }
      &_places {
        display: flex;
        flex-grow: 1;
        padding: 0;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0;
        .gen-btn {
          width: 150px;
        }
        .places-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .item__add {
            font-size-adjust: 12px;
            color: #a2a2ad;
            font-family: "RobotoLight";
          }
          &__text {
            color: #a2a2ad;
            font-family: "RobotoLight";
          }
          &__info {
            margin-top: 9px;
          }
          &__location {
            display: flex;
            align-items: center;
            &:first-child {
              margin-bottom: 9px;
            }
            img {
              margin-right: 7px;
            }
          }
          a {
            font-size: 12px;
          }
          h4,
          .places-content__title {
            margin: 0;
            font-family: "RobotoMedium";
            font-size: 14px;
            margin-bottom: 10px;
            color: #fff;
          }
        }
      }
      &_personal {
        text-align: left;
        padding: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .title {
          font-size: 14px;
          margin: 0;
        }
        .text {
          color: #a2a2ad;
          font-size: 14px;
          font-family: "RobotoLight";
          margin-bottom: 17px;
          margin-top: 15px;
          line-height: 20px;
        }
        .gen-btn {
          width: 150px;
        }
      }
    }
    &-title {
      display: flex;
      align-items: center;
      font-family: "RobotoRegular";
      padding: 0 15px;
      a {
        margin: 13px 0 18px 0;
      }
      img {
        margin-right: 8px;
        margin-bottom: 5px;
      }
    }
    &-add {
      border: none;
      border-top: 1px solid #8e8fbb;
      padding: 16px 0;
      width: 100%;
      background: none;
      color: #fff;
      font-size: 13px;
      margin-top: 17px;
      display: flex;
      justify-content: center;
      a {
        color: #a2a2ad;
        text-decoration: underline;
      }
    }
    &-wrapper {
      border-radius: 6px;
      border: 1px solid #8e8fbb;
    }
  }
  &__switch {
    display: flex;
    align-items: center;
    &_form {
      justify-content: space-between;
    }
    &-btn {
      .switch {
        width: 50px;
        height: 24px;
        background-color: #21203d;
        border-radius: 11px;
        &__circle {
          width: 20px;
          height: 20px;
          left: 2px;
          top: 2px;
          background-color: #a2a2ae;
        }
      }
      .switchcheckbox:checked + .switch__circle {
        left: 28px;
      }
    }
    span {
      margin-right: 18px;
      color: #a2a2ad;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    padding-right: 0;
    &_draggable {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
    &_feedback {
      .widgets__content-personal {
        width: 100%;
      }
    }
    &_client {
      .widgets__items_draggable {
        flex-direction: column;
      }
      .widgets__content-personal {
        align-items: center;
        margin-bottom: 15px;
      }
      .widgets__content-text {
        padding: 0 15px;
        margin-bottom: 0;
      }
    }
    .add-item {
      flex-grow: 1;
      border-radius: 5px;
      border: 1px dashed #8e8fbb;
      background-color: #363757;
      background: none;
      outline: none;
      color: #fff;
      font-size: 12px;
      min-height: 64px;
      margin-right: 15px;
    }
    .item {
      width: 160px;
      margin-right: 2%;
      display: flex;
      flex-direction: column;
      margin-bottom: 17px;
      position: relative;
      &.sortable-ghost {
        opacity: 0.5;
      }
      &__table {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin-right: 16px;
        .head {
          display: flex;
          width: 100%;
          padding-left: 63px;
          justify-content: space-between;
          &__wrapper {
            width: 100%;
            border: 1px dashed #8e8fbb;
            border-right: 0;
            border-bottom: 0;
            display: flex;
            justify-content: center;
            .widgets__content-text {
              padding: 8px;
            }
            &:last-child {
              border-right: 1px dashed #8e8fbb;
            }
          }
        }
        .body {
          display: flex;
          flex-direction: column;
          width: 100%;
          &__wrapper {
            display: flex;
            border: 1px dashed #8e8fbb;
            border-bottom: 0;
            position: relative;
            .item {
              &__popover {
                position: initial;
                img {
                  margin-right: 0;
                }
                &-info {
                  position: absolute;
                  top: 5px;
                  left: 5px;
                }
              }
            }
            .widgets__content-text {
              position: relative;
              width: 100%;
              border: 1px dashed #8e8fbb;
              border-right: 0;
              border-bottom: 0;
              border-top: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .widgets__content-avatar {
              margin: 6px;
              cursor: pointer;
            }
            &:last-child {
              border-bottom: 1px dashed #8e8fbb;
            }
          }
        }
      }
      &__personal {
        position: relative;
        padding: 0;
        margin-right: initial;
        flex-direction: initial;
        width: 100%;
        .item__menu {
          right: 11px;
        }
      }
      &__title {
        color: #fff;
      }
      &__price {
        margin: 5px 0;
      }
      &:hover {
        .item__menu {
          display: flex;
        }
      }
      &__menu {
        position: absolute;
        z-index: 999;
        right: 5px;
        top: 5px;
        width: fit-content;
        display: none;
        align-items: center;
        justify-content: space-between;
        &-burger {
          margin-left: 4px;
        }
        &-burger,
        &-close {
          width: 24px;
          height: 24px;
          border-radius: 2px;
          background-color: #3a3b5e;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            background-color: #21203d;
          }
        }
      }
      &__img {
        height: 240px;
        position: relative;
        cursor: pointer;
        background-color: #474873;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          &.photo {
            width: auto;
            height: auto;
          }
        }
        .item__popover {
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }
      &__popover {
        display: flex;
        align-items: center;
        position: relative;
        &-info {
          display: flex;
        }
        img {
          margin-right: 5px;
        }
      }
      &__info {
        display: flex;
        flex-direction: column;
        margin-top: 6px;
        button,
        .item__sales,
        .item__price {
          color: #a2a2ad;
          width: max-content;
          font-size: 13px;
        }
      }
      &__sales {
        border-bottom: 1px solid #a2a2ad;
      }
      &__add {
        background: none;
        border: none;
      }
    }
    &_places {
      padding: 0;
      .add-item {
        margin-right: 15px;
        margin-left: 15px;
      }
    }
    &_product {
      .item {
        &__img {
          height: 160px;
        }
      }
    }
    &_cover {
      flex-direction: column;
      padding-right: 15px;
      .add-item {
        margin-right: 0;
      }
      .item {
        width: 100%;
        margin-right: 0;
        max-height: 130px;
        position: relative;
        &__img {
          height: 130px;
          img {
            &.photo {
              top: 35%;
              left: 47%;
            }
          }
        }
        &__info {
          position: absolute;
          width: 100%;
          bottom: 0;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 10px 10px;
          button {
            color: #fff;
            width: 150px;
          }
          &-cover {
            display: flex;
            flex-direction: column;
            &_title {
              font-size: 14px;
              color: #fff;
              font-family: "DINPro-Bold";
              margin-bottom: 5px;
            }
            &_star {
              font-family: "DINPro-Light";
            }
          }
        }
      }
    }
  }
  &__footer {
    margin-top: 14px;
  }
  &__error {
    border-radius: 6px 6px 0 0;
    background-color: #ffc25e;
    font-size: 12px;
    color: #2f304d;
    font-family: "RobotoLight";
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 19px 76px 18px 61px;
    button {
      background: none;
      position: absolute;
      border: 1px solid transparent;
      right: 1px;
      top: 1px;
      transition: 0.3s;
      width: 29px;
      height: 30px;
      border-radius: 6px;
      opacity: 1;
      &:hover {
        border: 1px solid #3a3b5e;
        opacity: 0.6;
      }
    }
  }
  &__save {
    display: flex;
    justify-content: flex-end;
    margin-top: 17px;
    button {
      width: 115px;
    }
  }
  &__rules {
    padding: 0 38px;
    text-align: center;
    font-size: 12px;
    font-family: "RobotoLight";
    line-height: 18px;
    padding-bottom: 14px;
    a {
      font-family: "RobotoRegular";
      border-bottom: 1px solid #a2a2ad;
    }
  }
}
