.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-basket {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-calendar {
	font-size:(488.152/10)*1rem;
	width:(488.152/488.152)*1em;
}
.icon-svg-coconut-tree {
	font-size:(92.595/10)*1rem;
	width:(92.595/92.595)*1em;
}
.icon-svg-cubes {
	font-size:(298.27/10)*1rem;
	width:(298.27/298.27)*1em;
}
.icon-svg-discount {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-favorite {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-fire {
	font-size:(134/10)*1rem;
	width:(134/134)*1em;
}
.icon-svg-flag {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-svg-gift {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-heart {
	font-size:(378.94/10)*1rem;
	width:(378.94/378.94)*1em;
}
.icon-svg-high-heel {
	font-size:(61.761/10)*1rem;
	width:(61.761/61.761)*1em;
}
.icon-svg-idea {
	font-size:(54/10)*1rem;
	width:(54/54)*1em;
}
.icon-svg-image {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-like {
	font-size:(58/10)*1rem;
	width:(58/58)*1em;
}
.icon-svg-man {
	font-size:(469.877/10)*1rem;
	width:(469.877/469.877)*1em;
}
.icon-svg-message {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-new {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-parka {
	font-size:(297.55/10)*1rem;
	width:(297.55/297.55)*1em;
}
.icon-svg-pin {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-reviews {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-shooter1 {
	font-size:(80/10)*1rem;
	width:(80/80)*1em;
}
.icon-svg-star {
	font-size:(55.87/10)*1rem;
	width:(55.87/55.87)*1em;
}
.icon-svg-time {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
